header {
    background-color: #2f2f2f;
    text-align: center;
  }
  header h1 {
    border: solid 2px #eee;
    color: #eee;
    display: inline-block;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
  }